body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #232326;
    color: white;
    padding: 0;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

form {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #34495e;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 0.5px solid black; /* Define a borda das células */
}

table th, table td {

    padding: 12px;
    text-align: center;
}

.table th {
    background-color: #000;
    color: white;
    font-weight: bold;
}

table tr:nth-child(odd) {
    background-color: #015958;
}

table tr {
    background-color: #023535;
    transition: background-color 0.5s;
}

table tr:hover {
    background-color: #46464a;
}

a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

a:hover {
    color: #3498db;
    text-decoration: underline;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 24px;
    }

/*stilo para os cards com as miniaturas dos pdfs*/
.card {
    border: 1px solid #ccc; /* Define uma borda cinza clara ao redor do card */
    border-radius: 8px; /* Adiciona cantos arredondados ao card */
    width: fix-content; /* Define a largura total do card */
    margin: 10px; /* Adiciona espaço externo ao redor do card */
    display: inline-block; /* Permite que vários cards fiquem lado a lado */
    vertical-align: top; /* Alinha os cards pelo topo caso estejam lado a lado */
}


.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}


.card-image img {
    width: fit-content;
    height: auto; /* Mantém a proporção da imagem */
    max-height: 33.33vh; /* Garante que a altura também se adapte à orientação paisagem */
    object-fit: contain; /* Garante que a imagem se encaixe dentro do contêiner */
    display: block; /* Remove possíveis espaçamentos extras */
    transform: rotate(0deg); /* Apenas rotaciona se necessário */
    border-radius: 10px; /* Adiciona cantos arredondados à imagem */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra leve */
}

.card-content {
    padding: 10px; /* Adiciona espaçamento interno ao conteúdo do card */
}
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 380px;
}
.row {
    margin-bottom: 5px; /* Adiciona espaço entre as linhas de conteúdo */
}

.label {
    font-weight: bold; /* Deixa o texto em negrito para destacar */
}


/*modal*/
.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
