<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Detalhes</title>
</head>
<body>
    {% if message %}
        <p class="error-message">{{ message }}</p>
        <script>
            setTimeout(() => {
                window.history.back(); // Voltar para a página anterior
            }, 1000); // 1 segundo antes de redirecionar
        </script>
    {% else %}
        <h1>Ordens em aberto na maquina: {{ machine }}</h1>
        <h2>{{ desc_carregamento }}</h2>
        {{ table_detail|safe }}
    {% endif %}
</body>
</html>
