<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inicio</title>
</head>
<style>
    .table span[title="PRONTO"] {
        cursor: pointer;
    }
    .table span[title="PRONTO"]:hover {
        font-weight: bold;
    }
</style>
<body>
    <table class="table" id="summary_table">
        {{ table_summary|safe }}
    </table>
    <script>
    function sendData(header, rowValue) {
        // Envia os dados usando fetch para evitar reload de página
        fetch("/handle_click", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ header: header, row_value: rowValue }),
        }).then(response => {
            if (response.ok) {
                console.log("Data sent successfully!");
            } else {
                console.error("Failed to send data.");
            }
        });
    }
</script>
</body>
</html>