<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Detalhes</title>
</head>
<body>
    <h1>Ordens em aberto na maquina: PRENSA</h1>
    <table border="1" class="dataframe table">
        <thead>
            <tr style="text-align: right;">
                <th>COD_ITEM</th>
                <th>NUM_ORDEM</th>
                <th>QTDE</th>
                <th>DESC_TECNICA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="cell-container">
                        <a href="/static/pdf_thumbnails/69096.png" target="_blank">
                            <img src="/static/pdf_thumbnails/69096.png" alt="Miniatura do PDF" style="width: 20%;">
                        </a>
                        <div class="tooltip">
                            <img src="/static/pdf_thumbnails/69096.png" alt="Miniatura do PDF" style="width: 100%;">
                        </div>
                    </div>
                </td>
                <td>1225918</td>
                <td>2</td>
                <td>PERFIL CARTOLA PADRAO ASTM A36 3,17 340X50X750 EXP</td>
            </tr>
        </tbody>
    </table>
</body>
</html>